<div class="fixed bottom-5 right-5 z-50">
  <a
    href="https://wa.me/27614631005"
    target="_blank"
    rel="noopener"
    aria-label="Chat on WhatsApp"
    class="inline-flex items-center justify-center w-14 h-14 rounded-full bg-green-500 hover:bg-green-600 shadow-[0_8px_24px_rgba(0,0,0,0.2)] focus:outline-none focus:ring-2 focus:ring-white/70"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-7 h-7"><path d="M20.52 3.48A11.76 11.76 0 0012.06 0C5.5.03.18 5.35.2 11.9A11.76 11.76 0 0012 23.7h.06c6.56 0 11.88-5.32 11.9-11.88a11.76 11.76 0 00-3.44-8.34zM12.06 21.6h-.06A9.7 9.7 0 012.3 11.9C2.28 6.46 6.64 2.1 12.08 2.08a9.7 9.7 0 019.62 9.82 9.7 9.7 0 01-9.64 9.7z"/><path d="M17.45 14.3c-.27-.14-1.6-.79-1.84-.88-.25-.09-.43-.14-.62.14-.18.27-.71.88-.87 1.06-.16.18-.32.2-.59.07-.27-.14-1.16-.43-2.2-1.35-.81-.72-1.36-1.6-1.52-1.87-.16-.27-.02-.42.12-.56.12-.12.27-.32.41-.48.14-.16.18-.27.27-.45.09-.18.05-.34-.02-.48-.07-.14-.62-1.49-.85-2.03-.22-.52-.44-.45-.62-.46h-.53c-.18 0-.48.07-.73.34-.25.27-.96.95-.96 2.32s.98 2.69 1.12 2.87c.14.18 1.94 2.96 4.72 4.04.66.29 1.17.46 1.57.59.66.21 1.27.18 1.75.11.53-.08 1.6-.65 1.83-1.27.23-.62.23-1.15.16-1.26-.07-.11-.25-.18-.52-.32z"/></svg>
  </a>
</div>
